[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
event_ticketing = "CNZ9yfQwrD6N3EkhxRPFjptuHu4Z71ufrTte8zG5TkwY"

[programs.devnet]
event_ticketing = "CNZ9yfQwrD6N3EkhxRPFjptuHu4Z71ufrTte8zG5TkwY"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000
